*{
margin: 0;
padding: 0;
}

body{
box-sizing: border-box;
font-family: sans-serif;
text-align: center;
justify-content: center;
margin-top: 100px;
}

#container{
border: 5px solid black;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 20%;
margin-right: 20%;

}

h1{
background-color: brown;
font-size: 4rem;
color: white;
word-spacing: 20px;
border: 1px solid brown;
height: 100px;
align-items: center;

}

#count{
font-size: 8rem;
margin-top: 5%;
margin-bottom: 10%;
}


.buttons{
background-color: brown;
border: 1 px solid brown;
height: 100px;
justify-content: center;
align-items: center;


}

.buttons button{
margin-right: 60px;
margin-left: 60px;
margin-top: 25px;
font-size: 2rem;
padding: 10px, 20px;
text-align: center;
justify-content: center;
background-color: none;
cursor: pointer;


}


@media only screen and (max-width: 600px){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
  
        
        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
            
        }


        h1{
            word-spacing: 20px;
            height: 100px;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
        
        
            
            }
            
            #count{
            font-size: 8rem;
            margin-top: 5%;
            margin-bottom: 10%;
            }
            
            
            .buttons{
            height: 100px;
            justify-content: center;
            align-items: center;
            
            
            }
            
            .buttons button{
            margin-right: 0;
            margin-left: 0;
            margin-top: 25px;
            font-size: 20px;
            padding: 10px, 20px;
            text-align: center;
            justify-content: center;
            background-color: none;
            cursor: pointer;
            
            
            }
            
}
   
@media only screen and (min-width: 600px){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
   
        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
            
            }

            h1{
                word-spacing: 20px;
                height: 100px;
                align-items: center;
                font-size: 2rem;
                justify-content: center;
                }
                
                #count{
                font-size: 8rem;
                margin-top: 5%;
                margin-bottom: 10%;
                }
                
                
                .buttons{
                height: 100px;
                justify-content: center;
                align-items: center;
                
                
                }
                
                .buttons button{
                margin-right: 0;
                margin-left: 0;
                margin-top: 25px;
                font-size: 20px;
                padding: 10px, 20px;
                text-align: center;
                justify-content: center;
                background-color: none;
                cursor: pointer;
                
                
                }

}


    

@media only screen and (min-width: 768px){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
 
        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
            
            }

            h1{
                word-spacing: 20px;
                height: 100px;
                align-items: center;
                font-size: 2rem;
                
                }
                
                #count{
                font-size: 8rem;
                margin-top: 5%;
                margin-bottom: 10%;
                }
                
                
                .buttons{
                height: 100px;
                justify-content: center;
                align-items: center;
                
                
                }
                
                .buttons button{
                margin-right:0;
                margin-left: 0;
                margin-top: 25px;
                font-size: 20px;
                padding: 10px, 20px;
                text-align: center;
                justify-content: center;
                background-color: none;
                cursor: pointer;
                
                
                }
}
 


@media only screen and (min-width: 860px){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
 
        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
            
            }

            h1{
                word-spacing: 20px;
                height: 100px;
                align-items: center;
                font-size: 2rem;
                
                }
                
                #count{
                font-size: 8rem;
                margin-top: 5%;
                margin-bottom: 10%;
                }
                
                
                .buttons{
                height: 100px;
                justify-content: center;
                align-items: center;
                
                
                }
                
                .buttons button{
                margin-right:0;
                margin-left: 0;
                margin-top: 25px;
                font-size: 20px;
                padding: 10px, 20px;
                text-align: center;
                justify-content: center;
                background-color: none;
                cursor: pointer;
                
                
                }
}
@media only screen and (min-width: 992px){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
                        
            }  
            
            
            h1{
                word-spacing: 20px;
                height: 100px;
                align-items: center;
                font-size: 2rem;
                
                }
                
                #count{
                font-size: 8rem;
                margin-top: 5%;
                margin-bottom: 10%;
                }
                
                
                .buttons{
                height: 100px;
                justify-content: center;
                align-items: center;
                
                
                }
                
                .buttons button{
                margin-right: 0;
                margin-left: 0;
                margin-top: 25px;
                font-size: 20px;
                padding: 10px, 20px;
                text-align: center;
                justify-content: center;
                background-color: none;
                cursor: pointer;
                
                
                }
}


@media only screen and (min-width: 1086px){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
 
        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
            
            }

            h1{
                word-spacing: 20px;
                height: 100px;
                align-items: center;
                font-size: 2rem;
                
                }
                
                #count{
                font-size: 8rem;
                margin-top: 5%;
                margin-bottom: 10%;
                }
                
                
                .buttons{
                height: 100px;
                justify-content: center;
                align-items: center;
                
                
                }
                
                .buttons button{
                margin-right:0;
                margin-left: 0;
                margin-top: 25px;
                font-size: 20px;
                padding: 10px, 20px;
                text-align: center;
                justify-content: center;
                background-color: none;
                cursor: pointer;
                
                
                }
}
    

@media only screen and (min-width: 1200px){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
            
            } 
            
            h1{
                word-spacing: 20px;
                height: 100px;
                align-items: center;
                font-size: 2rem;
                
                }
                
                #count{
                font-size: 8rem;
                margin-top: 5%;
                margin-bottom: 10%;
                }
                
                
                .buttons{
                height: 100px;
                justify-content: center;
                align-items: center;
                
                
                }
                
                .buttons button{
                margin-right: 60px;
                margin-left: 60px;
                margin-top: 25px;
                font-size: 2rem;
                padding: 10px, 20px;
                text-align: center;
                justify-content: center;
                background-color: none;
                cursor: pointer;
                
                
                }
}
    

@media screen and (orientation: landscape){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
 

        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
            
            }

            h1{
                word-spacing: 20px;
                height: 100px;
                align-items: center;
                font-size: 2rem;
                
                }
                
                #count{
                font-size: 8rem;
                margin-top: 5%;
                margin-bottom: 10%;
                }
                
                
                .buttons{
                height: 100px;
                justify-content: center;
                align-items: center;
                
                
                }
                
                .buttons button{
                margin-right: 60px;
                margin-left: 60px;
                margin-top: 25px;
                font-size: 2rem;
                padding: 10px, 20px;
                text-align: center;
                justify-content: center;
                background-color: none;
                cursor: pointer;
                
                
                }
}

@media screen and (orientation: portrait){
    body{
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        }
 
        #container{
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 20%;
            margin-right: 20%;
            
            }

         h1{
            word-spacing: 20px;
            height: 100px;
            align-items: center;
            font-size: 2rem;
            
            }
            
            #count{
            font-size: 8rem;
            margin-top: 5%;
            margin-bottom: 10%;
            }
            
            
            .buttons{
            height: 100px;
            justify-content: center;
            align-items: center;
            
            
            }
            
            .buttons button{
            margin-right: 0;
            margin-left: 0;
            margin-top: 25px;
            font-size: 20px;
            padding: 10px, 20px;
            text-align: center;
            justify-content: center;
            background-color: none;
            cursor: pointer;
            
            
            }
}
    